<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./contactoStyle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">

</head>

<body>

    <div class="container ms-5 mt-3">
        <div class="titulo-bibliografia">
            <h1 class="titulo">Contactanos</h1>
            <hr class="linea" />
        </div>
        <form class="row g-3 needs-validation" novalidate>
            <div class="mb-3">
                <label for="idDestinatario" class="form-label">Destinarario</label>
                <select class="form-select" id="idDestinatario">
                    <option value="0" selected>¿A quien quieres contactar?</option>
                    <option value="castillo.cruz.20051@itsmante.edu.mx">
                        Cynthia
                    </option>
                    <option value="carranza.rubio.20233@itsmante.edu.mx">Alfredo</option>
                    <option value="deleon.gallegos.20056@itsmante.edu.mx">Ernesto</option>
                    <option value="dominguez.angeles.18074@itsmante.edu.mx">Enrique</option>
                    <option value="cervantes.garcia.20027@itsmante.edu.mx">Cesar</option>
                    <option value="gomez.paredes.19111@itsmante.edu.mx">Ricardo</option>
                    <option value="rivera.salinas.20030@itsmante.edu.mx">Roman</option>
                </select>
                <div class="invalid-feedback">
                    Selecciona una persona </div>
            </div>
            <div class="mb-3">
                <label for="idRemitente" class="form-label">Remitente</label>
                <input type="email" class="form-control" id="idRemitente"
                    placeholder="Danos tu correo para contactarte">
                <div class="invalid-feedback">
                    Completa este campo
                </div>
            </div>
            <div class="mb-3">
                <label for="idAsunto" class="form-label">Asunto</label>

                <input id="idAsunto" class="form-control" type="text" placeholder="Escribe que nesesitas"
                    aria-label="default input example">
                <div class="invalid-feedback">
                    Completa este campo
                </div>
            </div>
            <div class="mb-3">
                <label for="idCuerpo" class="form-label">Cuerpo</label>
                <textarea class="form-control" id="idCuerpo" rows="3" placeholder="Escribe lo que necesites"></textarea>
                <div class="invalid-feedback">
                    Completa este campo
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class=" btn-primario "onclick="validar()" type="button" >Enviar</button>
            </div>
        </form>
    </div>

</body>
    <script src="./contactoController.js"></script>
</html>