<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="bibliografiaStyle.css">
  </head>
  <body>
    <div class="contenedor">
      <div class="titulo-bibliografia">
        <h1>Bibliografía</h1>
        <hr />
      </div>
      <ul class="lista-bibliografia">
        <li>
          <a href="/assets/docs/Tema1.pdf" download="assets/docs/Tema1.pdf"><img src="/img/diseo-algortmico-1-1024.webp" alt="Diseño algorítmico"/></a>
          <p>Tema 1. Diseño algorítmico</p>
        </li>
        <li>
          <a href="/assets/docs/Tema_2.pdf" download="Tema_2.pdf"><img src="/img/tema2.png" alt="Introducción a la programación"/></a>
          <p>Tema 2. Intro. a la programación</p>
        </li>
        <li>
          <a href="/assets/docs/Tema_3_Estructura_Secuencial.pdf" download="Tema_3_Estructura_Secuencial.pdf"><img src="/img/t3.png" alt="Control de flujo"/></a>
          <p>Tema 3. Control de flujo</p>
        </li>
        <li>
          <a href="/assets/docs/Tema_4_Multidimensionales.pdf" download="Tema_4_Multidimensionales.pdf"><img src="/img/multi.png" alt="Organizacion de datos"/></a>
          <p>Tema 4. Organización de datos</p>
        </li>
        <li>
      </ul>
    </div>
  </body>
</html>

