<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./bibliografiaStyle.css" />
  </head>
  <body>
    <div class="contenedor">
    
      <div class="titulo-bibliografia">
        <h1>Bibliografía</h1>
        <hr />
      </div>
      <ul class="lista-bibliografia">
        <li>
          <a
            href="https://espanol.libretexts.org/Ingenieria/Implementaci%C3%B3n_de_una_CPU_de_una_direcci%C3%B3n_en_Logisim_(Kann)/02%3A_Lenguaje_de_la_Asamblea/2.01%3A_%C2%BFQu%C3%A9_es_el_lenguaje_ensamblador%3F"
            >2.1: ¿Qué es el lenguaje ensamblador? (2022, octubre 30).
            LibreTexts Español; Libretexts.</a
          >
        </li>
        <li>
          <a href="https://www.ferrovial.com/es/stem/algoritmos/"
            >Algoritmos: qué son y qué tipos existen. (s/f). Ferrovial.
            Recuperado el 5 de marzo de 2024</a
          >
        </li>
        <li>
          <a
            href="https://www.europeanvalley.es/noticias/que-es-un-compilador-en-programacion/"
            >Calvo, J. (s/f). ¿Que es un Compilador en programación?
            Europeanvalley.es. Recuperado el 5 de marzo de 2024</a
          >
        </li>
        <li>
          <a
            href="https://www.ionos.mx/digitalguide/paginas-web/desarrollo-web/compilador-e-interprete/"
            >Compilador e intérprete: definición y diferencias. (2020, junio
            16). IONOS Digital Guide; IONOS.</a
          >
        </li>
        <li>
          <a
            href="https://muytecnologicos.com/diccionario-tecnologico/codigo-objeto"
            >Marujita. (2023, mayo 25). Código objeto. Muy Tecnológicos.</a
          >
        </li>
        <li>
          <a
            href="https://www.smartdraw.com/flowchart/simbolos-de-diagramas-de-flujo.html"
            >Símbolos de diagramas de flujo. (s/f). Smartdraw.com. Recuperado el
            5 de marzo de 2024</a
          >
        </li>
        <li>
          <a
            href="https://openwebinars.net/blog/introduccion-a-java-datos-y-variables/"
            >Barragán, A. (2023, octubre 2). Introducción a Java: Datos y
            variables. Openwebinars.net.</a
          >
        </li>
        <li>
          <a
            href="http://inprojava.blogspot.com/2010/12/estructuras-repetitivas.html"
            >Domínguez Pérez, D. A., & Perfil, V. T. mi. (s/f). Programación en
            JAVA. Blogspot.com. Recuperado el 6 de marzo de 2024</a
          >
        </li>
        <li>
          <a
            href="https://edea.juntadeandalucia.es/bancorecursos/file/a551e982-da8d-43f3-959a-71c98cb56ace/1/es-an_2019012112_9123629.zip/31_estructura_bsica_de_un_programa.html?temp.hn=true&temp.hb=true"
            >IEDA. (s/f). 3.1. Estructura básica de un programa.
            Juntadeandalucia.es. Recuperado el 6 de marzo de 2024</a
          >
        </li>
        <li>
          <a
            href="https://openwebinars.net/blog/que-es-un-lenguaje-de-programacion/"
            >Mendoza, M. L. (2020, julio 16). Qué es un lenguaje de
            programación. Openwebinars.net.</a
          >
        </li>
        <li>
          <a
            href="https://azure.microsoft.com/es-es/resources/cloud-computing-dictionary/what-is-java-programming-language"
            >Valores constantes en Java. Usando la instrucción “final”.(S/f).
            Microsoft.com. Recuperado el 6 de marzo de 2024</a
          >
        </li>
        <li>
          <a
            href="https://fundamentosdelaprogramacion2019.blogspot.com/2019/11/5-modularidad.html"
            >Vazquez, F. C., & Completo, V. mi P. (s/f). Fundamentos de la
            Programacion. Blogspot.com. Recuperado el 6 de marzo de 2024</a
          >
        </li>
        <li>
          <a
            href="https://www.studocu.com/es-mx/document/instituto-tecnologico-de-saltillo/fundamentos-de-programacion/paso-de-parametros-o-argumentos-bytes/48234774"
            >(S/f). Studocu.com. Recuperado el 6 de marzo de 2024</a
          >
        </li>
      </ul>
    </div>

    <!--
  Proposito del sitio
-->
  </body>
</html>
