<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./acercaStyle.css" />
  </head>
  <body>
    <div class="contenedor">
      <div class="titulo-bibliografia">
        <h1>Proposito del sitio</h1>
        <hr />
      </div>
      <div class="lista-bibliografia">
        <p>
          Este sitio web te ofrece una amplia gama de recursos para ayudarte a
          alcanzar tus metas académicas en la materia de Fundamentos de
          Programación. Aquí encontrarás materiales de estudio diseñados
          específicamente para abordar los conceptos fundamentales de la
          programación, desde los conceptos básicos hasta los más avanzados. Ya
          sea que estés comenzando en tu viaje de programación o buscando
          mejorar tus habilidades existentes, tenemos recursos adecuados para
          ti.
        </p>
        <p>
          Explora nuestros tutoriales interactivos, ejercicios prácticos que te
          ayudarán a comprender los principios esenciales de la programación.
          Desde aprender sobre variables, tipos de datos y estructuras de
          control, hasta la creación de algoritmos y la resolución de problemas
          de programación, estamos aquí para apoyarte en cada paso del camino.
        </p>
      </div>
       </div>
       

    <!--
  Proposito del sitio
-->
  </body>
</html>
