<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Materia</title>
        <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="materiasStyle.css">
        <link rel="stylesheet" href="/tarjetasStyle.css">
        <link rel="stylesheet" href="./materiasStyle.css">
    </head>
<body>
    <div class="container text-center mt-5">
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3" id="tarjetasContainer">
            
        </div>
    </div>

    <script src="materiasController.js"></script>
 
</body>
</html>