.body {
  font-family: "Segoe UI", sans-serif;
}
.container-palomina {
  position: relative; /* Para posicionar el ícono dentro del contenedor */
  padding-top: 20px; /* Espacio para el ícono */
  text-align: right; /* Alinea el texto a la derecha */
}
.bi.bi-check {
  position: absolute; /* Posición absoluta para el ícono */
  top: 0; /* Alineación arriba */
  right: 0; /* Alineación a la derecha */
  font-size: 24px; /* Tamaño del ícono */
color: green;
}
.titulo-seccion {
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 10px;
}
.seleccion {
  background-color: rgb(196, 196, 196);
}
.linea {
  width: 95vw;
  height: 10px;
  margin: 0;
  border: 2px solid #FF366D;
  background-color: aqua;
  border-style: solid;
}
.titulo-texto {
  font-size: 32px;
  margin: 0px;
  width: 120px;
  color: aqua;
  font-weight: bolder;
}
.imagen-minuatua {
  width: 110px;
  margin-right: 50px;
}
.card {
  margin-top: 20px;
}
.columna-2 {
  order: -1;
}
.celda {
  display: flex;
  flex-wrap: wrap;
}
.columna-1 {
  height: 44vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}
.frame {
  width: 100vw;
  height: 40vh;
}
.pdf {
  width: 100vw;
  height: 40vh;
}

@media (min-width: 768px) {
  .pdf {
    width: 100vw;
    height: 90vh;
  }
  .imagen-minuatua {
    width: 100%;
  }
  .frame {
    width: 100vw;
    height: 80vh;
  }
  .celda {
    display: flex;
  }
  .columna {
    flex: 1;
    width: 30%;
  }
  .columna-1 {
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
  }
  .columna-2 {
    width: 70vw;
    display: flex;
    justify-content: center;
    order: 1;
  }
}
