<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./tareasStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">

    <title>Tareas</title>
</head>

<body>
    <script src="./tareasController.Js"></script>
    <div id="contenedorgrande" class="container-fluid">

    </div>
    <div class="tema1">
        <h1>Tema 1 <span class="linea"></span></h1>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h4>Cuestionario: Diseño de algoritmos.</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-1"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-1">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>En este cuestionario, explorarás conceptos esenciales de programación a través de preguntas básicas
                    sobre el diseño de algoritmos.
                    Demuestra tu conocimiento sobre símbolos,
                    instrucciones y procesos clave en el desarrollo de software.</p>
                <a href="https://es.educaplay.com/recursos-educativos/18163252-tema_1_cuestionario.html" target="_blank">Comenzar
                    cuestionario</a>
                <br>
                <br>
            </div>
        </div>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;;">
                <h4>Diagramas de Flujo.</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-2"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-2">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>En esta actividad, conectarás conceptos con sus descripciones para consolidar tu comprensión. A
                    medida que emparejas términos clave con sus explicaciones, mejorarás tus habilidades en la creación
                    y interpretación de diagramas de flujo.</p>
                <a href="https://es.educaplay.com/recursos-educativos/18163141-tema_1_diagramas_de_flujo.html" target="_blank">Comenzar
                    la actividad</a>
                <br>
                <br>
            </div>
        </div>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;;">
                <h4>Sopa de letras: Conceptos Básicos.</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-3"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-3">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>Sumérgete en la diversidad del universo
                    informático. Encontrarás una mezcla de términos esenciales en el mundo de la programación.</p>
                <a href="https://es.educaplay.com/recursos-educativos/18163105-tema_1_conceptos_basicos.html" target="_blank">Comenzar
                    la sopa de letras</a>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="tema2">
        <h1>Tema 2 <span class="linea"></span></h1>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h4>Sopa de letras: Introducción a la Programación.</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-4"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-4">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>Sumérgete en un divertido desafío de
                    búsqueda de palabras. Encuentra términos relacionados con los conceptos básicos de programación y
                    refuerza tu comprensión mientras encuentras
                    las palabras ocultas en la cuadrícula.</p>
                <a href="https://es.educaplay.com/recursos-educativos/18163205-programacion_2_1_2_5.html" target="_blank">Comenzar sopa
                    de letras</a>
                <br>
                <br>
            </div>
        </div>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h4>Crucigrama: Programación.</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-5"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-5">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>Desafía tus conocimientos
                    mientras encuentras y completas palabras clave relacionadas con el mundo de la programación. Este
                    crucigrama te invita a explorar y
                    consolidar tus fundamentos en programación.</p>
                <a href="https://es.educaplay.com/recursos-educativos/18163246-crucigrama_de_programacion.html" target="_blank">Comenzar
                    crucigrama</a>
                <br>
                <br>
            </div>
        </div>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h4>Ordenar palabras.</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-6"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-6">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>En esta actividad, tu desafío será organizar oraciones relacionadas con la
                    programación. Pon a prueba tu conocimiento formando
                    oraciones coherentes sobre conceptos fundamentales de programación.</p>
                <a href="https://es.educaplay.com/recursos-educativos/18163283-desafio_de_programacion.html" target="_blank">Comenzar a
                    ordenar!</a>
            </div>
        </div>
    </div>
    <div class="tema3">
        <h1>Tema 3 <span class="linea"></span></h1>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;;">
                <h4>Memorama: Estructuras Selectivas.</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-7"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-7">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>Ejercita tu memoria mientras coincides pares de
                    tarjetas que contienen conceptos relacionados con decisiones y ramificaciones en la programación.
                </p>
                <a href="https://es.educaplay.com/recursos-educativos/18163269-estructuras_selectivas.html" target="_blank">Comenzar
                    memorama</a>
                <br>
                <br>
            </div>
        </div>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h4>Sopa de letras: Estructuras Secuenciales.</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-8"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-8">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>Aadéntrate en un
                    desafío de búsqueda de palabras. Encuentra términos clave relacionados con la programación
                    secuencial. Refuerza tus conocimientos mientras
                    buscas y conectas estas palabras en la cuadrícula. </p>
                <a href="https://es.educaplay.com/recursos-educativos/18163356-estructuras_secuenciales.html" target="_blank">Comenzar
                    sopa de letras</a>
                <br>
                <br>
            </div>
        </div>
        <div class="card-container">
            <div class="card-header" style="display: flex; justify-content: space-between;;">
                <h4>Crucigrama: Estructuras Iterativas</h4>
                <button class="expandir" type="button" data-bs-toggle="collapse" data-bs-target="#card-body-9"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down"></i>
                </button>
            </div>
            <div class="collapse content" id="card-body-9">
                <p style="font-weight: bold;">Descripción de la actividad.</p>
                <p>Explora y refuerza tus conocimientos sobre
                    conceptos clave relacionados con bucles y repeticiones en programación. Encuentra los términos
                    esenciales que juegan un papel crucial en la ejecución
                    repetida de instrucciones.</p>
                <a href="https://es.educaplay.com/recursos-educativos/18163466-estructuras_iterativas.html" target="_blank">Comenzar
                    crucigrama</a>
                <br>
                <br>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        const expandirBotones = document.querySelectorAll(".expandir");
        expandirBotones.forEach(function (expandir) {
            expandir.addEventListener("click", function () {
                const icono = expandir.querySelector("i");
                // Verifica la clase actual y cambia a la clase alternativa
                if (icono.classList.contains("bi-caret-down")) {
                    icono.classList.remove("bi-caret-down");
                    icono.classList.add("bi-caret-up");
                } else {
                    // Cambia a la clase inicial si no tiene la clase inicial
                    icono.classList.remove("bi-caret-up");
                    icono.classList.add("bi-caret-down");
                }
            });
        });
    </script>
</body>

</html>